<div class="container">
	<div class="login-form-wrapper">
		<div class="login_form row" ng-controller="SigninController">
			<alert type="danger" ng-show="error" class="text-center text-danger">		
				<div uib-alert ng-repeat="alert in alerts" close="closeAlert($index)" class="alert alert-danger">
					<span ng-class="'alert-' + (alert.type || 'danger')">{{alert.msg}}</span><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
			</alert>
		  
				<div class="form-container col-sm-6  col-sm-offset-3">
					<div class="alignCenter brand"><img src="../modules/core/client/img/logo/brand.png"
					 /></div>	
					<div class="text-center reg-title">Sign in your account.</div>
						<form name="loginForm" ng-submit="signin(loginForm.$valid)" novalidate>
							<div class="form-group">
								<input required type="email" name="email" ng-model="user.email"
								minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" class="form-control" placeholder="Username"/>
								<div class="text-danger" ng-show="!loginForm.email.$pristine || loginForm.$submitted" ng-messages="loginForm.email.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
										Username required.
									</div>
								</div>
							</div>
							<div class="form-group">
								<input required type="password" name="password" ng-model="user.password"
								minlength="8" maxlength="20" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,20}$/" class="form-control" placeholder="Password"/>
								<div class="text-danger" ng-show="!loginForm.password.$pristine || loginForm.$submitted" ng-messages="loginForm.password.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
										Password required.
									</div>
								</div>
							</div>
							<button class="btn btn-success btn-block btn-lg mb15" type="submit"> <span>Sign in</span> </button>
					</form>
			</div>
		</div>
	</div>
</div>