<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="wrapper" ng-app="myApp">
	 <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li class="sidebar-brand">
	                    <a href="#" class="main-menu clearfix">
	                        <i class="fa fa-tachometer fa-2 fa-icon-main" aria-hidden="true"></i><span>Dashboard</span>
	                    </a>
	                </li>
	                <li>
	                    <a href="#" class="clearfix"><i class="fa fa-tachometer fa-icon-cus" aria-hidden="true"></i><span>Dashboard</span></a>
	                </li>
	                <li>
	                    <a href="#" class="clearfix"><i class="fa fa-share fa-icon-cus" aria-hidden="true"></i><span>Shortcuts</span></a>
	                </li>
	                <li>
	                    <a href="#" class="clearfix"><i class="fa fa-user fa-icon-cus" aria-hidden="true"></i><span>Profile</span></a>
	                </li>
	                <!-- <li>
	                    <a href="#">Overview</a>
	                </li>
	                <li>
	                    <a href="#">Events</a>
	                </li>
	                <li>
	                    <a href="#">About</a>
	                </li>
	                <li>
	                    <a href="#">Services</a>
	                </li>
	                <li>
	                    <a href="#">Contact</a>
	                </li> -->
	            </ul>
	        </div>
	        <!-- /#sidebar-wrapper -->
	<div class="main-wrap">
		<div class="header-dashboard clearfix">
			<div class="brand-menu-container">
				<a href="#menu-toggle"  id="menu-toggle" class="menu-toggle">
				  <span class="glyphicon glyphicon-menu-hamburger"></span>
				</a>
				<div class="brand-container">
			    	<img src="../modules/core/client/img/logo/brand.png"/>
			    </div>
			</div>
			<div class="page-title">
				<h3>Dashboard</h3>
			</div>
			<div class="pull-right profile">
				<ul class="nav navbar-nav">
			      <li class="dropdown"><a class="dropdown-toggle profile-icon" data-toggle="dropdown" href="javascript:void(0);"><span class="glyphicon glyphicon-option-vertical"></span></a>
			        <ul class="dropdown-menu sub-profile-menu">
			          <li><a ui-sref=".account">Account</a></li>
			          <li><a ui-sref="/signin">Logout</a></li>
			        </ul>
			      </li>
			    </ul>
			</div>
		</div>
		        <!-- Page Content -->
		        <div id="page-content-wrapper">
		            <div class="container-fluid">
		               <ui-view></ui-view>
		            </div>
		        </div>
		        <!-- /#page-content-wrapper -->

		    </div>
		    <!-- /#wrapper -->
	</div>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $("ul.sidebar-nav li a span").toggle();
});
</script>